In [3]:
import pymysql.cursors
import pandas as pd

# Connect to the database
conn = pymysql.connect(host='gwumysql-restore.cazdwdlcg6dm.us-east-2.rds.amazonaws.com',
                             user='EMSE6992',
                             port=3306,
                             db='test_db',
                             password='MySQLpass',
                             cursorclass=pymysql.cursors.DictCursor)

cursor = conn.cursor()

res = cursor.execute("SELECT * from zomato")
result = cursor.fetchall()

# convert the result to a dataframe
df = pd.DataFrame.from_dict(result)

df

,Restaurant ID,Country Code,City,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,162,Makati City,121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,162,Makati City,121.014101,14.553708,Japanese,1200,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,162,Mandaluyong City,121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,162,Mandaluyong City,121.056475,14.585318,"Japanese, Sushi",1500,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,162,Mandaluyong City,121.057508,14.584450,"Japanese, Korean",1500,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,208,??stanbul,28.977392,41.022793,Turkish,80,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,208,??stanbul,29.041297,41.009847,"World Cuisine, Patisserie, Cafe",105,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,208,??stanbul,29.034640,41.055817,"Italian, World Cuisine",170,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,208,??stanbul,29.036019,41.057979,Restaurant Cafe,120,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,208,??stanbul,29.026016,40.984776,Cafe,55,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [5]:
# https://www.kaggle.com/shrutimehta/zomato-restaurants-data

In [7]:
# For this project you’ll be taking a dataset, loading it into a database, and then leveraging the database to develop some analytical insights. The datasets cover a variety of topics and formats. Your first task will be to determine which database system you think will work best with your selected dataset. At that point you will need to write a script, or leverage tools for the database, to load the dataset. Once the information has been loaded, you will need to query the database to create your insights.

In [3]:
# MySQL

In [5]:
# First import the csv into msql

#put into dataframe

# information we need to get

# First query: segment the resturants by ratings per country in order  - how many 4.9/5 star ratings are there

# Second query: Most popular cuisine per country - use highest rating per resturant

query2 = cursor.execute("SELECT * FROM test_db.zomato WHERE `Aggregate rating`> 4.6 order by `Country Code` asc")
result = cursor.fetchall()
df = pd.DataFrame.from_dict(result)

print(df.head())

# Third query: Number of votes vs aggregate rating overall -- Check the highest rated places based on the number of votes

# Fourth query: if the place has online delievery does it have higher rating



# Fifth: if the place has table booking does it have higher rating

# Sixth: price point that yields highest rating -- or something of the sort

# 7th - look at different localities in the countries and see the popular areas for resturants

# 8th - price range vs ratings text and see if a resturant that has a higher price range is more popular

# 9th - most reviewed countries

   Restaurant ID  Country Code       City  Longitude   Latitude  \
0        3400346             1       Agra  78.040165  27.161850
1          58268             1  Bangalore  77.645396  12.970221
2          51705             1  Bangalore  77.640709  12.979166
3       18439634             1  Bangalore  77.615797  12.934179
4          51040             1  Bangalore  77.614293  12.933298

                                            Cuisines  Average Cost for two  \
0                        Cafe, North Indian, Chinese                     0
1                                              Asian                  2400
2                           Italian, American, Pizza                  2000
3  Continental, American, Italian, North Indian, ...                   950
4                             American, Burger, Cafe                   800

             Currency Has Table booking Has Online delivery Is delivering now  \
0  Indian Rupees(Rs.)                No                  No                No
1  Indian Rupees(Rs.)               Yes                 Yes                No
2  Indian Rupees(Rs.)                No                  No                No
3  Indian Rupees(Rs.)                No                  No                No
4  Indian Rupees(Rs.)                No                 Yes                No

  Switch to order menu  Price range  Aggregate rating Rating color  \
0                   No            1               4.9   Dark Green
1                   No            4               4.7   Dark Green
2                   No            4               4.8   Dark Green
3                   No            2               4.7   Dark Green
4                   No            2               4.7   Dark Green

  Rating text  Votes
0   Excellent     77
1   Excellent   2369
2   Excellent  10934
3   Excellent    276
4   Excellent   9667